body {
    font-family: Arial;
}

.topbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.menu{
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    gap: 30px;
}

.menu a:hover {
    color: midnightblue;
}

.seta {
    font-size: 0.8em;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px 7px;
}

.btn-login {
    background-color: #feb101;
    color: black;
    padding: 30px 20px 10px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}
