body {
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.menu{
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    position: relative;
    right: 185px;
}

.menu a:hover {
    color: #feb101;
}

.login {
    position: relative;
    right: 100px;
    top: 1px;
}

.btn-login {
    background-color: #feb101;
    color: black;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
